// Colors
$brick-red: #990000;
$primary: #6200ee;
$secondary: #03dac6;
$background: #f1faee;
$surface: #ffffff;
$error: #b00020;
$on-primary: #ffffff;
$on-secondary: #000000;
$on-background: #000000;
$on-surface: #000000;
$on-error: #ffffff;

// Fonts
$font-family-sans: Helvetica, sans-serif;
$font-size-paragraph: 14px;
$font-size-medium: 20px;
$font-size-large: 27px;
$font-size-title: 70px;

// Shadows 
$shadow-box: 0 2px 5px #00000050;
$shadow-box-dark: 0 2px 5px #000000b3;
$shadow-text: 2px 2px 5px #00000050;

/***************
 Generic styles
****************/

body {
    margin: 0;
    box-sizing: border-box;
    background: $background;
    font-family: $font-family-sans;
    font-size: $font-size-paragraph;
}

a {
    opacity: 0.9;
    text-decoration: none;
    &:hover, &:focus {
        opacity: 1;
        cursor: pointer;
    }
}

.text-field {
    background: $surface;
    font-size: $font-size-paragraph;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
}

.engraved {
    font-weight: bold;
    color: #294062;
    opacity: 0.6;
    text-shadow: 1px 2px 3px #eee, 0 0 0 #000, 1px 2px 3px #eee;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: pre-wrap;
}

/*****************
 Component styles
******************/

.component#header {
    background: $brick-red;
    font-size: $font-size-paragraph;
    z-index: 99999;
    box-shadow: $shadow-box;
    text-shadow: $shadow-text;
    text-align: center;
    justify-content: center;
    a {
        color: #fff;
    }
    flex: 1 {
        direction: column;
    }
}

.component#search-bar {
    @extend .text-field;
}

/* Screens */

.component#home {
    width: 100vw;
    height: 100vh;

    #nav-bar {
        position: absolute;
        top: 0;
        right: 0;
        padding: 40px;
        a.nav-item {
            margin-left: 18px;
        }
    }

    #search-bar {
        @extend .center;
        height: 30px;
        width: 50%;
        font-size: $font-size-medium;
        border-radius: 30px;
        &:hover, &:focus {
            border-color: #000;
        }
        &:focus {
            outline: none !important;
            box-shadow: 0 0 8px #37537eaa;
        }
        transition: top 0.5s;
    }

    #ai-response {
        label {
            font-size: $font-size-medium;
        }
    }
}
